/*
font-family: 'Merriweather', serif;
font-family: 'PT Sans Caption', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-width: 280px;
}
img{
    display: inline-block;
}
a{
    transition: 0.2s ease-out;
    text-decoration: none; 
    color: #fff;
}
/*grid*/
.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    
}
.row:after{
    clear: both;
    content: "";
    display: table;
}

.col-4{
    width: 360px;
    margin-right: 30px;
    float: left;
}
.col-4:last-child{
    margin-right: 0px;
}



/*header*/

.header{
    background: #004371 url("../img/bg/bg-header.jpg") no-repeat center center;
    background-size: cover;
    
    min-height: 400px;
    
    height: 100vh;
    color: #fff;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-title{
    font-size: 56px;
    line-height: 62px;
    margin-bottom: 36px;
    font-family: 'Merriweather', serif;
    margin-top: -50px;
}
.header-slogan{
    font-size: 28px;
    line-height: 42px;
}
p.header__social-icons{
    margin-top: 150px;
    color:#FFF;
    font-size: 32px;
}
p.header__social-icons a{
    color: #FFF;
    text-decoration: none;
    margin-right: 30px;    
}
p.header__social-icons a:last-child{
    margin-right: 0px;
}
p.header__social-icons a:hover{
    color:#ffe400;
}
.header-arrow{
    font-size: 48px;
    width: 60px;
    height: 50px;
    margin-left: -30px;
    
    position: absolute;
    bottom:50px;
    left: 50%;
}
/*portfolio*/
.portfolio{
    padding-top: 70px;
    padding-bottom: 100px;
}
.portfolio-item{
    margin-bottom: 20px;
}

.title{
    font-size: 46px;
    margin-bottom: 46px;
    font-family: 'Merriweather', serif;
    text-align: center;
}
.portfolio-item__img{
    margin-bottom: 17px;
}
.portfolio-item__img img{
    max-width: 100%;
    height: auto;
}
.portfolio-item__title{
    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px;
}
.portfolio-item__title a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #FFF;
}
.portfolio-item__title a:hover{
    color: #0052c2;
    border-color: rgba (0, 82, 194, 0.3);
    
}

.portfolio-item__text p{
    margin-top: 0px;
    margin-bottom: 15px;
}
/*single-page*/

.portfolio-single-page{
    padding:50px 0px;
    text-align: center;
}
.portfolio-single-page img{
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;    
}
.button-back{
    font-weight: 700;
    font-family: 'PT Sans Caption', sans-serif;
    display: inline-block;
    border: 2px solid #0052c2;
    border-radius: 50px;
    text-decoration: none;
    color: #0052c2;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding: 8px 23px;
    margin-bottom: 13px;
    transition: 0.2s ease-out;
}
.button-back:hover{
    background-color: #0052c2;
    color: white;    
}
a.vk{
    color: #000;
}

/*footer*/

.footer{
    width: 100%;
    background-color: #061634;
    color:#6479a2;
    padding-top: 90px;
    padding-bottom: 190px;
}
.footer p{
    margin-top: 0px;
    margin-bottom: 15px;
    
}
p.footer__name{
    font-size: 28px;
    margin-bottom: 10px;
    line-height: normal;
    font-family: 'Merriweather', serif;
}
p.footer__social{
    color:#FFF;
}
p.footer__social-icons{
    color:#FFF;
    font-size: 32px;
}
p.footer__social-icons a{
    color: #FFF;
    text-decoration: none;
    margin-right: 30px;    
}
p.footer__social-icons a:last-child{
    margin-right: 0px;
}
p.footer__social-icons a:hover{
    color:#ffe400;
}
.button{
    font-weight: 700;
    font-family: 'PT Sans Caption', sans-serif;
    display: inline-block;
    border: 2px solid #FFF;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding: 8px 23px;
    margin-bottom: 13px;
    transition: 0.2s ease-out;
}
.button:hover{
    background-color: white;
    color: #061634;    
}

/*media*/
@media (max-width:1160px) {
    .container{
        width: 100%;
    }
    
    .col-4{
        width: 100%;        
        margin: 0;
        margin-bottom: 20px;
        padding: 0 15px 0 15px;
        text-align: center;
    }
    .col-8{
        width: 100%;        
        margin: 0;
        margin-bottom: 30px;
        padding: 0 15px 0 15px;
        text-align: center;
    }
    .herder{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__social-icons{
        margin-top: 10px;
    }
    .portfolio-item__img{
        margin-bottom: 0;
    }
    .header__title{
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 15px;
    }
    .header_slogan{
        font-size: 22px;
        line-height: 38px;
    }
    .portfolio{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .title{
        font-size: 36px;
    }
    .footer{
        padding-top: 70px;
        padding-bottom: 60px;
    }
}